@media screen and (min-width: 1600px) {
  .movies {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .jumbotron {
    min-width: 1000px;
  }

  .container {
    z-index: 0;
  }

  .movies {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .food {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  #restaurant {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .food {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  #restaurant {
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .app-bar .brand h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 850px) {
  .movies {
    grid-template-columns: repeat(3, 1fr);
  }

  .add-review {
    grid-template-columns: .6fr;
  }
}

@media screen and (max-width: 680px) {
  .food {
    grid-template-columns: 1fr;
  }

  #restaurant {
    grid-template-columns: 1fr;
  }

  .add-review {
    grid-template-columns: .6fr;
  }
}

@media screen and (min-width: 650px) {
  .app-bar {
    grid-template-columns: 1fr auto;
    padding: 8px 32px;

    .brand h1 {
      font-size: 1.5em;
    }

    .menu {
      display: none;
    }

    .navigation {
      position: static;
      width: 100%;

      ul li {
        display: inline-block;

        a {
          display: inline-block;
          width: 120px;
          text-align: center;
          margin: 0;
        }
      }
    }
  }

  .add-review {
    grid-template-columns: .6fr;
  }

  .movies {
    grid-template-columns: 1fr 1fr;
  }

  .movie {
    grid-template-columns: auto 1fr;

    .movie__title,
    .movie__overview {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

@media screen and (max-width: 499px) {
  .scroll {
    background-color: rgba(0, 0, 0, 0.7);
  }

  .open {
    transform: translate(0, 0) !important;
  }

  .nav {
    position: fixed;
    transition: 0.9s all;

    .container {
      width: 100%;
      border-radius: 0;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(29, 29, 29, 0.3);

      .logo {
        font-size: 24px;
        margin-left: 30px;
      }

      button {
        display: block;
      }

      .link {
        top: 70px;
        width: 100%;
        display: grid;
        position: fixed;
        transform: translate(0, -180%);
        transition: transform 0.3s ease;
        background-color: rgba(255, 255, 255, 1);

        .item {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);

          a {
            display: block;
            width: 100%;
            color: black;
            font-size: 22px;
            padding: 10px;
          }

          &:hover {
            border-bottom: 4px solid black;
          }
        }
      }
    }
  }

  .add-review {
    grid-template-columns: .6fr;
  }
}